.iconspace{
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-evenly;
    background: rgba(151, 153, 160, 0.4); 
    backdrop-filter: blur(1px);
}
.forebg{
    background-size: cover;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}


