@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Lobster&family=Press+Start+2P&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Joan&family=Lobster&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Joan&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');
.topsection{
    position: relative;
    margin-bottom: 70px;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.allSection{
    color:azure;
}
.thepara{
    justify-content: center;
    margin-top: 100px;
    
}
.thepara h2{
    text-align: center;
    font-size: 70px;
    margin-top:-10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.thepara p{
    color:#FFE6E6;
    font-size: 20px;
}
.thepara hr{
    width:40%;
    margin-top: -40px;
}

.allSection .searchbutton{
    color:whitesmoke;
    width: 20%;
    margin-left: 38%;
    border-radius: 30px;
    padding-top:-20px;
    height:35px;
    padding: .5rem 1.5rem;
    background: rgba(16,18,27,0.4);
    border: white;
}

::placeholder{
    font-size: 17px ;
    color:rgb(233, 216, 216);
}
.allSection{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(-45deg, #38ef7d,#11998e,#4568dc,#904e95,#FD746C  );
    background-size: 400% 400% ;
    position: relative;
    animation:change 10s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto; 
    padding-left: 30px;
    box-sizing: border-box;
}
.weather{
    position:absolute;
    right:2%;
    transform:rotate(270deg);
    white-space: nowrap;
}
.icon{
    width: 160px;
    margin-top: -15px;
}

.titl{
    text-align: left;
    padding-left: 5px;
    font-size: 44px;
}
.weather{
    font-size:30px;
    margin-left:87% ;
    text-transform: capitalize;
    position: sticky;
}
p{
    margin:0;   
}
h1{
    text-align: left;
    font-size:6rem;
    margin:0;
}
.bottomsection .morph{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Arvo', serif;
}
.windspeed{
    font-size: 35px;
    margin-left: 40px;
    margin-top:10px;
    margin-bottom: 10px; 
}
.chipchip{
    font-size: 35px;
    margin-top:10px;
    margin-bottom: 10px;
}
.tempagain{
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 35px;
    margin-right: 40px;
}
.morph{
    margin: 0 60px 0 0;
    background: rgba(16,18,27,0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
.theP{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    margin-bottom: 3px;
}
.forecast{
    width:20%;
    margin: 0 0 0 40%;
    height:45px;
    color:azure;
    border-radius: 35px;
    cursor: pointer;
    background: rgba(16,18,27,0.4);
    border: whitesmoke;
    z-index: 1;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
        
    }
}

@media (max-width:500px) {
    body{
           background-size: cover;
        background: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    }
    .searchbutton{
        width:5%;
    }
    .thepara{
        font-size: 10px;
    }
    .topsection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .morph{
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }
    .theP{
        font-size: 10px;
    }
    .windspeed .chipchip .tempagain{ 
        font-size: 10px;
      
    }


}