@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Joan&family=Lobster&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');

.theimg{
    /* display: inline; */
    
    width: 20%;
 
     /* transform: rotate(90deg); */
      /* margin-top: -170px; */
    /* padding-left:15px; */ 
 }
.upp{
    display: flex;
    justify-content: space-evenly;
}
 .line{
    color: #000000;
    line-height: 1px;
    margin-top: -90px;

    filter: blur(0.2px);
    margin-left: -20%;
}
.upp p{
    font-family: 'Ubuntu', sans-serif;
    /* display: inline; */
    /* margin-top: -20%; */
    /* margin-top: -70px; */

    font-size: 40px;
    position:sticky;
}
